<%=content_for :css do %>
<%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'chictower' %>
<%= stylesheet_link_tag 'carousel', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</script>
<%end%>



<div class="herobg">
    <div class="container">
        <div class="bnr">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="slogan">
                        <div class="logo">
                            <%=image_tag "chictower/logo.png" , width: "150" , class: "img-fluid" , height: "130" , alt: "" %>
                        </div>
                        <h5>CHIC Tower De GRISOGONO Geneve</h5>
                        <h2>REAWAKEN<br>LUXURY</h2>
                        <p>Luxury Studio, One & Two<br>Bedroom Apartments</p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="search_form">
                        <h6>Register your Interest to avail the best offers</h6>
                        <form action="/submit_lead" method="POST">
                            <div class="mb-3">
                                <input class="form-control form-control-lg cst_input" type="text"
                                    placeholder="First Name" aria-label="Full Name" name="first_name">
                            </div>
                            <div class="mb-3">
                                <input class="form-control form-control-lg cst_input" type="text"
                                    placeholder="Last Name" aria-label="Full Name" name="last_name">
                            </div>
                            <div class="mb-3">
                                <input class="form-control form-control-lg cst_input" type="text" placeholder="Email" name="email"
                                    aria-label="Email">
                            </div>
                            <div class="mb-3">
                                <div class="change-country"></div>
                                <input placeholder="Phone No" name="phone"
                                    class="phonecode form-control form-control-lg cst_input"
                                    data-parsley-required="true"
                                    data-parsley-required-message="Please Enter Valid Phone Number"
                                    data-parsley-group="block-4" data-parsley-type="number" data-parsley-validphone
                                    type="tel" required>
                                <div class="phoneerror"></div>
                                <input type="hidden" value="villa/townhouse" name="propertytype">
                                <input id='inp1' value="Idontknowyet" type='hidden' name='area'>
                                <input id='inp13' type='hidden' value="BelowAED1,000.000" name='budget'>
                                <input id='inp18' name="purchasepurpose" value="Persona Use" type='hidden'>
                                <input type="hidden" name="sid" value="1">
                                <input type="hidden" name="project" value="CHIC Tower De GRISOGONO Geneve">
                                <input type="hidden" id="phonecode" name="phonecode" value="+44">
                                <input type="hidden" name="phonelocal" value="12345678">
                            </div>
                            <div class="d-grid gap-2"> <button class="btn cstbtn" type="submit">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

<div class="container">
    <div class="mt-3">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <%=image_tag "chictower/01.png" , class: "img-fluid" , alt: "" %>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="">
                                    <h5 class="card-title">Starting <br>
                                        from AED 823,000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <%=image_tag "chictower/02.png" , class: "img-fluid" , alt: "" %>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="">
                                    <h5 class="card-title">20%<br>
                                        Down Payment</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <%=image_tag "chictower/03.png" , class: "img-fluid" , alt: "" %>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="">
                                    <h5 class="card-title">5 yrs<br>
                                        payment plan</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <%=image_tag "chictower/03.png" , class: "img-fluid" , alt: "" %>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="">
                                    <h5 class="card-title">Handover Q1 <br>
                                        2026</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-12 text-center ms-auto me-auto">
<a href="#form" class="btn cstbtn01" style="background: #F15C62;color:white">REGISTER YOUR INTEREST</a>
</div>

<div class="theme_spacing">
    <div class="container">
        <div class="about">
            <h6>About CHIC Tower</h6>
            <p>
                Chic Tower in collaboration with the famous Swiss Jewelry House de Grisogono, is one of the latest
                luxury
                projects launched in Dubai. <br><br>

                Inspired by the healing properties of turquoise. Chic Tower is where wellness and opulence meet. Here
                the
                Fabled fountains of the youth is recast as holistic lifestyle experience which brings together
                restorative
                baths, beauty treatments, state of the art gyms, residential luxury, and master jeweler de Grisogono’s
                unique
                interpretation of one of the world’s most beloved gemstones. <br><br>

                At Chic Tower whether you live in a Studio, 1 or 3 bedroom or super luxury home, every habitable inch of
                the
                tower has been designed with your wellness in mind and executed with uncompromising quality. Apartments
                here
                are the epitome of style, inspiring serenity with their masterful use of space.<br><br>

                At Chic Tower, 7 revitalizers have been designed to extract toxins from your body and help your skin
                glow with
                the radiance of youth. From hot baths and cold baths to salt baths and mud baths, a unique tonic to
                life’s
                wear and tear awaits for you each day of the week.<br><br>

            </p>
        </div>
    </div>
</div>

<div class="theme_spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Download Brochure</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body pb-5">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="mb-3">
                                            <span for="exampleFormControlInput1" class="form-label">First Name</span>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="First Name">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="mb-3">
                                            <span for="exampleFormControlInput1" class="form-label">Last Name</span>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="mb-3">
                                            <span for="exampleFormControlInput1" class="form-label">Email</span>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="mb-3">
                                            <span for="exampleFormControlInput1" class="form-label">Phone Number</span>
                                            <input type="tel" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <button class="btn btn-dark" type="button">Register Now</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <figure class='preview'>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"> <%=image_tag "chictower/dn1.jpg" %> </a>
                    <!--    <div class='img-overlay'>
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
    </div>-->

                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class='overlay-txt'>Download Brochure</a>

                </figure>

            </div>
            <div class="col-md-4 col-12">
                <figure class='preview'>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"> <%=image_tag "chictower/dn2.jpg" %> </a>
                    <!--    <div class='img-overlay'>
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
    </div>-->
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class='overlay-txt'>Download Floor Plan</a>
                </figure>
            </div>
            <div class="col-md-4 col-12">
                <figure class='preview'>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"><%=image_tag "chictower/dn3.jpg" %></a>
                    <!--    <div class='img-overlay'>
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
    </div>-->
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class='overlay-txt'>Download Payment
                        Plan</a>

                </figure>
            </div>
        </div>
    </div>
</div>

<div class="theme_spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <%=image_tag "chictower/abt.png" , width: "800" , class: "img-fluid" , height: "783" , alt: "" %>
            </div>
            <div class="col-md-6 col-12">
                <div class="abt_th">
                    <p>At Chic tower you meditate with your eyes closed. But you enjoy the view with eyes full of
                        wonder.
                        <br><br>

                        Your home boasts sweeping panoramas of Dubai’s Iconic Canal and beyond, allowing <br><br>

                        you to revitalize your perspective on life, everytime you look out of your window.</p>
                        <a href="#form" class="btn cstbtn01" style="background: #F15C62;color:white">REGISTER YOUR INTEREST</a>
                        </div>
            </div>
        </div>
    </div>
</div>

<div class="theme_spacing">
    <div class="container">
        <h4 class="hadd">Amenities</h4>
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft1.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">20%<br>
                                    Down Payment</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft2.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Residential <br>Lounge</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft3.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">7 Revitalizing <br>Baths</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft4.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Swimming <br>Pool</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft5.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Yoga <br>Area</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft6.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Fully <br>Equipped Gym</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft7.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Lazy <br>River</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft8.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Furnished <br>Residences</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft9.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">24/7 <br>CCTV</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft10.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Football <br>Arenas</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft11.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Party <br>Zones</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12">
                <div class="feat">
                    <div class="row g-0">
                        <div class="col-md-2 col-2">
                            <%=image_tag "chictower/ft12.png" , class: "img-fluid" , alt: "" %>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="">
                                <h5 class="card-title01">Juice <br>Bars</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4 class="hadd mb-3">Gallery</h4>

    <div class="spotlight-group row" data-fit="cover" data-autohide="all">
        <div class="col-md-4 col-12">
            <a class="spotlight" href="images/gl1.jpg">
                <%=image_tag "chictower/gl1.jpg"%>
        </a>
      </div>
      <div class="col-md-4 col-12">
        <a class="spotlight" href="images/gl2.jpg">
          <%=image_tag "chictower/gl2.jpg"%>
        </a>
        <a class="spotlight" href="images/gl3.jpg">
          <%=image_tag "chictower/gl3.jpg"%>
        </a>
      </div>
      <div class="col-md-4 col-12">
        <a class="spotlight" href="images/gl4.jpg">
          <%=image_tag "chictower/gl4.jpg"%>
        </a>
      </div>
      <div class="col-md-6 col-12">
        <a class="spotlight" href="images/gl5.jpg">
          <%=image_tag "chictower/gl5.jpg"%>
        </a>
      </div>
      <div class="col-md-6 col-12">
        <a class="spotlight" href="images/gl6.jpg">
          <%=image_tag "chictower/gl6.jpg"%>
        </a>
      </div>
    </div>




  </div>

  <div class="theme_spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="col-md-8 float-start">
            <div class="feat">
              <div class="row g-0">
                <div class="col-md-2 col-2">
                  <%=image_tag "chictower/pin.png" , class: "img-fluid" , alt: "" %>
        </div>
        <div class="col-md-10 col-10">
            <div class="">
                <h5 class="card-title01">16 Mins Away <br>
                    From Dubai International <br>
                    Airport</h5>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-8 float-end">
    <div class="feat">
        <div class="row g-0">
            <div class="col-md-2 col-2">
                <%=image_tag "chictower/pin.png" , class: "img-fluid" , alt: "" %>
            </div>
            <div class="col-md-10 col-10">
                <div class="">
                    <h5 class="card-title01">7 Mins<br>
                        Away from The <br>
                        Dubai Mall</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 float-start">
    <div class="feat">
        <div class="row g-0">
            <div class="col-md-2 col-2">
                <%=image_tag "chictower/pin.png" , class: "img-fluid" , alt: "" %>
            </div>
            <div class="col-md-10 col-10">
                <div class="">
                    <h5 class="card-title01">14 Mins<br>
                        Away from the Dubai <br>
                        Healthcare City</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 float-end">
    <div class="feat">
        <div class="row g-0">
            <div class="col-md-2 col-2">
                <%=image_tag "chictower/pin.png" , class: "img-fluid" , alt: "" %>
            </div>
            <div class="col-md-10 col-10">
                <div class="">
                    <h5 class="card-title01">15 Mins <br>
                        Away from the Ras Al Khor <br>
                        Wild Sanctuary</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-6 col-12">
    <%=image_tag "chictower/map.jpg" , width: "1425" , class: "img-fluid" , height: "1193" , alt: "" %>
</div>
</div>
</div>
</div>

<div class="theme_spacing">
    <div class="container">
        <h4 class="hadd">Floor Plan</h4>
        <div class="">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-1"
                        type="button" role="tab" aria-controls="nav-1" aria-selected="true">Studio. Type 1</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-2"
                        type="button" role="tab" aria-controls="nav-2" aria-selected="false">Studio. Type 2</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-3"
                        type="button" role="tab" aria-controls="nav-3" aria-selected="false">Studio. Type 3</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-4"
                        type="button" role="tab" aria-controls="nav-4" aria-selected="false"> 1 Bedroom. Type 1</button>
                    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-5"
                        type="button" role="tab" aria-controls="nav-5" aria-selected="true">1 Bedroom. Type 2</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-6"
                        type="button" role="tab" aria-controls="nav-6" aria-selected="false">1 Bedroom. Type 3</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-7"
                        type="button" role="tab" aria-controls="nav-7" aria-selected="false">2 Bedroom. Type 1</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-8"
                        type="button" role="tab" aria-controls="nav-8" aria-selected="false">2 Bedroom. Type 2</button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>Studio. Type 1</h5>
                                <a href="#form" class="btn cstbtn01" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr1.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>Studio. Type 2</h5>
                                <a href="#form" class="btn cstbtn01" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr2.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>Studio. Type 3</h5>
                                <a href="#form" class="btn cstbtn01" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr3.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>1 Bedroom. Type 1</h5>
                                <a href="#form" class="btn cstbtn01" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr4.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>1 Bedroom. Type 2</h5>
                                <a href="#form" class="btn cstbtn01" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr5.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>1 Bedroom. Type 3</h5>
                                <a href="#form" class="btn cstbtn01" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr6.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>2 Bedroom. Type 1</h5>
                                <a href="#form" class="btn cstbtn01" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr7.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="inner_data row">
                        <div class="col-md-3 col-12">
                            <div class="floor_plan">
                                <h5>2 Bedroom. Type 2</h5>
                                <a class="btn cstbtn01" href="#form" type="button">REGISTER YOUR INTEREST</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <%=image_tag "chictower/flr8.png" , width: "1704" , class: "img-fluid" , height: "1110" , alt: "" %>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="ftrbg">
    <div class="container">
        <%=image_tag "chictower/logo.png", width:"200" , class: "img-fluid" ,  alt: "" %>
        <p>
            Chic Tower in collaboration with the famous Swiss Jewelry House de Grisogono, is one of the latest luxury
            projects launched in Dubai.

            Inspired by the healing properties of turquoise. Chic Tower is where wellness and opulence meet. Here the
            Fabled
            fountains of the youth is recast as holistic lifestyle experience which brings together restorative baths,
            beauty treatments, state of the art gyms, residential luxury, and master jeweler de Grisogono’s unique
            interpretation of one of the world’s most beloved gemstones.
        </p>
        <ul>
            <li><a href="#"><%=image_tag "chictower/sc1.png" , width: "40" , height: "40" , alt: "" %></a></li>
            <li><a href="#"><%=image_tag "chictower/sc2.png" , width: "40" , height: "40" , alt: "" %></a></li>
            <li><a href="#"><%=image_tag "chictower/sc3.png" , width: "40" , height: "40" , alt: "" %></a></li>
            <li><a href="#"><%=image_tag "chictower/sc4.png" , width: "40" , height: "40" , alt: "" %></a></li>
            <li><a href="#"><%=image_tag "chictower/sc5.png" , width: "40" , height: "40" , alt: "" %></a></li>
            <li><a href="#"><%=image_tag "chictower/sc6.png" , width: "40" , height: "40" , alt: "" %></a></li>
        </ul>
        <p>© 2022 <strong>CHIC TOWER</strong> Real Estate. </p>
    </div>
</div>




<%=content_for :javascript do%>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>
<%= javascript_pack_tag 'slider', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'form', 'data-turbolinks-track': 'reload' %>


<script>
    /* Full example of API usage including "like button" as a custom control */

    //import Spotlight from "./src/js/spotlight.js";

    (function () {

        const gallery = [{

                title: "Lorem ipsum dolor sit amet",
                description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                src: "demo/gallery/london-1758181.jpg",
                button: "Download Image",
                onclick: Spotlight.download,
                like: false
            }, {
                title: "At vero eos et accusam",
                description: "Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                src: "demo/gallery/sea-1975403.jpg",
                button: "Next Slide",
                onclick: Spotlight.next,
                like: false,
            }, {
                title: "Duis autem vel eum iriure dolor",
                description: "In hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.",
                src: "demo/gallery/newport-beach-2089906.jpg",
                button: "Close Gallery",
                onclick: Spotlight.close,
                like: false
            }
            /*,{
                            media: "node",
                            control: "next,prev,close",
                            src: (function(){
                                const iframe = document.createElement("iframe");
                                iframe.src = "https://www.youtube.com/embed/tgbNymZ7vqY";
                                return iframe;
                            }())
                        }*/
        ];

        window.showGallery = function (index) {

            const control = to_array(document.getElementById("control").getElementsByTagName("input"));
            const animation = to_array(document.getElementById("animation").getElementsByTagName("input"));
            const modifier = document.getElementById("modifier").getElementsByTagName("input");

            // store the button element to apply dom changes to it
            let like;
            // store the current index
            let slide = 0;

            function handler() {

                // get the current like state
                // at this point we use the stored last index from the variable "slide"
                const current_like_state = !gallery[slide].like;

                // toggles the current like state
                gallery[slide].like = current_like_state;

                // assign the state as class to visually represent the current like state
                this.classList.toggle("on");

                if (current_like_state) {

                    // do something if liked ...
                } else {

                    // do something if unliked ...
                }
            }

            const options = {

                class: "only-this-gallery",
                index: index,
                control: control,
                animation: animation,
                // fires when gallery opens
                onshow: function (index) {

                    // the method "addControl" returns the new created control element
                    like = Spotlight.addControl("like", handler);
                },
                // fires when gallery change to another page
                onchange: function (index, options) {

                    // store the current index for the button listener
                    // the slide index start from 1 (as "page 1")
                    slide = index - 1;

                    // initially apply the stored like state when slide is openened
                    // at this point we use the stored like element
                    like.classList.toggle("on", gallery[slide].like);
                },
                // fires when gallery is requested to close
                onclose: function (index) {

                    // remove the custom button, so you are able
                    // to open next gallery without this custom control
                    Spotlight.removeControl("like");
                }
            };

            assign(options, modifier);

            Spotlight.show(gallery, options);
        };

        /* helper functions to assign options for the demo page, so skip this part from here */

        function to_array(nodelist) {

            const arr = [];

            for (let i = 0, node; i < nodelist.length; i++) {

                node = nodelist[i];
                node.checked && arr.push(node.value);
            }

            return arr;
        }

        function assign(options, nodelist) {

            for (let i = 0, node; i < nodelist.length; i++) {

                node = nodelist[i];

                if (node.checked) {

                    if (node.name) {

                        options[node.name] = node.value;
                    } else {

                        options[node.value] = node.checked;
                    }
                }
            }
        }

    }());
</script>
<%end%>