<%=content_for :css do %>
<%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'jumeriah' %>
<%= stylesheet_link_tag 'carousel', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
<%end%>

<div class="herobg">
    <div class="container">
        <div class="bnr">
            <div class="row" id="lead_form">
                <div class="col-md-8 col-12">
                    <div class="slogan">
                        <%=image_tag "jumeriah/logo.png" , width: "150" , class: "img-fluid mb-2" , height: "130" , alt: "" %>
                        <h2>Jumeirah Living<br>Business Bay</h2>
                        <p>
                            Luxury Waterfront Homes <br>in Business Bay with stunning views <br>of Dubai Water Canal &
                            Downtown
                            <br>Dubai Skyline
                        </p>
                    </div>
                </div>
<!--                <div class="col-md-4 col-12">-->
<!--                    <div class="search_form">-->
<!--                        <div class="search_form01">-->
<!--                            <h6>Download Brochure</h6>-->
<!--                          <form action="/submit_lead" id="submit_form" method="POST">-->
<!--                            <div class="row">-->
<!--                              <div class="col-md-6 col-12">-->
<!--                                <div class="mb-3">-->
<!--                                                <span for="exampleFormControlInput1" class="form-label">First-->
<!--                                                    Name</span>-->
<!--                                  <input type="text" class="form-control" id="exampleFormControlInput1"-->
<!--                                         placeholder="First Name" name="first_name">-->
<!--                                </div>-->
<!--                              </div>-->

<!--                              <div class="col-md-6 col-12">-->
<!--                                <div class="mb-3">-->
<!--                                  <span for="exampleFormControlInput1" class="form-label">Last Name</span>-->
<!--                                  <input type="text" class="form-control" id="exampleFormControlInput1"-->
<!--                                         placeholder="Last Name" name="last_name">-->
<!--                                </div>-->
<!--                              </div>-->

<!--                              <div class="col-md-6 col-12">-->
<!--                                <div class="mb-3">-->
<!--                                  <span for="exampleFormControlInput1" class="form-label">Email</span>-->
<!--                                  <input type="email" class="form-control" id="exampleFormControlInput1"-->
<!--                                         placeholder="Email" name="email">-->
<!--                                </div>-->
<!--                              </div>-->

<!--                              <div class="col-md-6 col-12">-->
<!--                                <div class="mb-3">-->
<!--                                                <span for="exampleFormControlInput1" class="form-label">Phone-->
<!--                                                    Number</span>-->
<!--                                  <div class="change-country"></div>-->
<!--                                  <input placeholder="Phone No" name="phone"-->
<!--                                         class="phonecode form-control"-->
<!--                                         data-parsley-required="true"-->
<!--                                         data-parsley-required-message="Please Enter Valid Phone Number"-->
<!--                                         data-parsley-group="block-4" data-parsley-type="number" data-parsley-validphone-->
<!--                                         type="tel" required="">-->
<!--                                  <div class="phoneerror"></div>-->

<!--                                  <input type="hidden" value="apartments" name="propertytype">-->
<!--                                  <input id='inp1' value="studio" type='hidden' name='bedrooms[]'>-->
<!--                                  <input id='inp13' type='hidden' value="BelowAED1,000.000" name='budget'>-->
<!--                                  <input id='inp18' name="purchasepurpose" value="Personal Use"-->
<!--                                         type='hidden'>-->
<!--                                  <input type="hidden" name="sid" value="1">-->
<!--                                  <input type="hidden" name="project"-->
<!--                                         value="CHIC Tower De GRISOGONO Geneve">-->
<!--                                  <input type="hidden" id="phonecode" name="phonecode" value="+44">-->
<!--                                  <input type="hidden" name="phonelocal" value="12345678">-->
<!--                                  <input type="hidden" name="project1" value="chictower">-->
<!--                                </div>-->
<!--                              </div>-->
<!--                              <div class="clearfix"></div>-->
<!--                              <div class="d-grid gap-2 col-6 mx-auto">-->
<!--                                <button id="btn-submit" class="btn btn-dark"-->
<!--                                        type="submit">Register Now</button>-->
<!--                              </div>-->
<!--                          </form>-->



<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Download Brochure</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-5">
                      <form action="/submit_lead" id="submit_form" method="POST">
                        <div class="row">
                          <div class="col-md-6 col-12">
                            <div class="mb-3">
                                                <span for="exampleFormControlInput1" class="form-label">First
                                                    Name</span>
                              <input type="text" class="form-control" id="exampleFormControlInput1"
                                     placeholder="First Name" name="first_name">
                            </div>
                          </div>

                          <div class="col-md-6 col-12">
                            <div class="mb-3">
                              <span for="exampleFormControlInput1" class="form-label">Last Name</span>
                              <input type="text" class="form-control" id="exampleFormControlInput1"
                                     placeholder="Last Name" name="last_name">
                            </div>
                          </div>

                          <div class="col-md-6 col-12">
                            <div class="mb-3">
                              <span for="exampleFormControlInput1" class="form-label">Email</span>
                              <input type="email" class="form-control" id="exampleFormControlInput1"
                                     placeholder="Email" name="email">
                            </div>
                          </div>

                          <div class="col-md-6 col-12">
                            <div class="mb-3">
                                                <span for="exampleFormControlInput1" class="form-label">Phone
                                                    Number</span>
                              <div class="change-country"></div>
                              <input placeholder="Phone No" name="phone"
                                     class="phonecode form-control"
                                     data-parsley-required="true"
                                     data-parsley-required-message="Please Enter Valid Phone Number"
                                     data-parsley-group="block-4" data-parsley-type="number" data-parsley-validphone
                                     type="tel" required="">
                              <div class="phoneerror"></div>

                              <input type="hidden" value="apartments" name="propertytype">
                              <input id='inp1' value="studio" type='hidden' name='bedrooms[]'>
                              <input id='inp13' type='hidden' value="BelowAED1,000.000" name='budget'>
                              <input id='inp18' name="purchasepurpose" value="Personal Use"
                                     type='hidden'>
                              <input type="hidden" name="sid" value="1">
                              <input type="hidden" name="project"
                                     value="CHIC Tower De GRISOGONO Geneve">
                              <input type="hidden" id="phonecode" name="phonecode" value="+44">
                              <input type="hidden" name="phonelocal" value="12345678">
                              <input type="hidden" name="project1" value="chictower">
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="d-grid gap-2 col-6 mx-auto">
                            <button id="btn-submit" class="btn btn-dark"
                                    type="submit">Register Now</button>
                          </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="marked mt-5">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-3 col-3">
                                <%=image_tag "jumeriah/01.png" , width: "60" , class: "img-fluid" , alt: "..." %>
                            </div>
                            <div class="col-md-9 col-9">
                                <div class="">
                                    <h5 class="card-title">2, 3, & 4<br>Bedroom Apartment
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-3 col-3">
                                <%=image_tag "jumeriah/02.png" , width: "60" , class: "img-fluid" , alt: "..." %>
                            </div>
                            <div class="col-md-9 col-9">
                                <div class="">
                                    <h5 class="card-title">Half Floor & Full <br>Floor Penthouses
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-3 col-3">
                                <%=image_tag "jumeriah/03.png" , width: "60" , class: "img-fluid" , alt: "..." %>
                            </div>
                            <div class="col-md-9 col-9">
                                <div class="">
                                    <h5 class="card-title">Starting From<br>AED 7.5 Million
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="spec">
                    <div class="">
                        <div class="row g-0">
                            <div class="col-md-3 col-3">
                                <%=image_tag "jumeriah/04.png" , width: "60" , class: "img-fluid" , alt: "..." %>
                            </div>
                            <div class="col-md-9 col-9">
                                <div class="">
                                    <h5 class="card-title">3 years Interest <br>Free Payment Plan</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="theme_spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <%=image_tag "jumeriah/abt.png" , width: "800" , class: "img-fluid" , height: "783" , alt: "" %>
            </div>
            <div class="col-md-7 col-12">
                <div class="abt_th">
                    <h5>Luxury Waterfront Homes in Business Bay</h5>
                    <p>
                        Inspired by its location’s maritime lifestyle and nautical elements, Jumeirah Living Business
                        Bay sits on
                        a fine line between art and architecture, in constant dialogue with the shimmering light and
                        sparkling
                        waters of the Dubai Canal.<br><br>
                        Designed to be admired as a prominent highlight of the Downtown Dubai skyline, the 35-story
                        tower features
                        a selection of 82 spacious residences, exquisitely designed and fitted with elevated detail,
                        coupled with
                        curated branded amenities and services.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="theme_spacing">
    <div class="container">
        <div class="row">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Download Brochure</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pb-5">
                        <form action="/submit_lead" id="submit_form1" method="POST">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="mb-3">
                                      <span for="exampleFormControlInput1" class="form-label">First Name</span>
                                        <input type="text" class="form-control form-control00"
                                            id="exampleFormControlInput1" placeholder="First Name" name="first_name" required>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="mb-3">
                                        <span for="exampleFormControlInput1" class="form-label">Last Name</span>
                                        <input type="text" class="form-control form-control00"
                                            id="exampleFormControlInput1" placeholder="Last Name" name="last_name" required>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="mb-3">
                                        <span for="exampleFormControlInput1" class="form-label">Email</span>
                                        <input class="form-control email form-control00" type="text" placeholder="Email"
                                        aria-label="Email" name="email" data-parsley-required="true"
                                        data-parsley-required-message="Please Enter Valid Email Address"
                                        data-parsley-group="block-4" data-parsley-type="email" data-parsley-validemail
                                        type="email" required="">
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="mb-3" >
                                        <span for="exampleFormControlInput1" class="form-label">Phone Number</span>
                                        <div class="change-country"></div>
                                        <input placeholder="Phone No" name="phone"
                                        class="phonecode form-control form-control00"
                                        data-parsley-required="true"
                                        data-parsley-required-message="Please Enter Valid Phone Number"
                                        data-parsley-group="block-4" data-parsley-type="number" data-parsley-validphone
                                        type="tel" required="">
                                        <div class="phoneerror"></div>                                       
                                    </div>
                                </div>
                                <input type="hidden" value="apartments" name="propertytype">
                                <input id='inp1' value="studio" type='hidden' name='bedrooms[]'>
                                <input id='inp13' type='hidden' value="BelowAED1,000.000" name='budget'>
                                <input id='inp18' name="purchasepurpose" value="Personal Use" type='hidden'>
                                <input type="hidden" name="sid" value="1">
                                <input type="hidden" name="project" value="Jumeirah Living Business Bay">
                                <input type="hidden" id="phonecode" name="phonecode" value="+44">
                                <input type="hidden" name="phonelocal" value="12345678">
                                <input type="hidden" name="project1" value="jumeriah">
                                <div class="clearfix"></div>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-dark" id="btn-submit" type="submit">Register Now</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <figure class='preview'>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"><%=image_tag "jumeriah/dn1.jpg"%></a>
                    <!--    <div class='img-overlay'>
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
    </div>-->

                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="overlay-txt">Download Brochure</a>

                </figure>
            </div>
            <div class="col-md-4 col-12">
                <figure class='preview'>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"> <%=image_tag "jumeriah/dn2.jpg"%> </a>
                    <!--    <div class='img-overlay'>
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
    </div>-->
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="overlay-txt">Download Floor Plan</a>
                </figure>
            </div>
            <div class="col-md-4 col-12">
                <figure class='preview'>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"><%=image_tag "jumeriah/dn3.jpg"%></a>
                    <!--    <div class='img-overlay'>
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
    </div>-->
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="overlay-txt">Download Payment
                        Plan</a>

                </figure>
            </div>
        </div>
    </div>
</div>


<div class="theme_spacing">
    <div class="container">
        <div class="plaza">
            <div class="col-md-5 col-12">
                <div class="float-start plaza_text">
                    <h4>NEW ElEVATION TO BRANDED RESIDENCES</h4><br>
                    <p>
                        Designed for the discerning, the exquisitely crafted four and five-bedroom simplex and duplex
                        penthouses
                        are destined to elevate living in the sky to an entirely new plethora, with superior detailed
                        finishes,
                        <br><br>ultra-premium appointments and a design that maximises the breathtaking views of the
                        Dubai Canal
                        and Downtown Dubai skyline.
                    </p>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn cstbtn mt-4">Check Available Units & Prices</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="plaza plaza01">
            <div class="row">
                <div class="col-md-7 col-12"></div>
                <div class="col-md-5 col-12">
                    <div class="float-end plaza_text">
                        <h4>The Epitome of Waterfront Living</h4>
                        <p>
                            Spanning the entire 35th floor at 9,656 sq. ft. this spectacular one-of-a-kind penthouse is
                            the epitome
                            of branded luxury in the heart of Dubai.<br>
                            The palatial space offers elevated spaces and amenities, including five bedrooms, two maids
                            rooms,
                            lavish living and dining spaces, library/study, gymnasium, sauna and steam room,<br><br> and
                            large
                            balconies at each end offering 360-degree views of the Dubai Canal, Downtown Dubai, and the
                            Burj
                            Khalifa.

                        </p>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn cstbtn mt-4">Check Available Units & Prices</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
</div>

<div class="clearfix"></div>

<div class="theme_spacing">
    <div class="container">

        <div class="about mb-4">
            <h6>SEAMLESSLY CONNECTING TO THE CITY'S HOTSPOTS</h6>
            <p>
                Jumeirah Living is situated in the prime location of Business Bay, one of Dubai's most recognisable
                neighborhoods. The area is well-connected and known for its cosmopolitan, fast-paced vibe.<br><br>
                Boasting close proximity to the prestigious Downtown Dubai district, Dubai's Old Town and The Dubai
                Marina, it
                offers residents unrestricted access tO the city's most recognisable landmarks.
            </p>
        </div>


        <div class="row">
            <div class="col-md-6 col-12">
                <%=image_tag "jumeriah/map.png" , width: "800" , class: "img-fluid" , height: "1193" , alt: "" %>
            </div>
            <div class="col-md-6 col-12">
                <div class="map_location">
                    <h4>Location</h4>
                    <p>Dubai Mall <strong class="float-end">3 Min</strong></p>
                    <p>Burj Khalifa <strong class="float-end">3 Min</strong></p>
                    <p>Burj Al Arab <strong class="float-end">15 Min</strong></p>
                    <p>Dubai Marina <strong class="float-end">25 Min</strong></p>
                    <p>Dubai International Airport <strong class="float-end">30 Min</strong></p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn cstbtn mt-4" type="button">Download Brochure</a>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="theme_spacing">
    <div class="container">
        <h4 class="hadd">Floor Plan</h4>
        <div class="slider_cont">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="spotlight-group row" data-fit="cover" data-autohide="all">
                        <div class="carousel-item active">
                            <a class="spotlight"
                                href="images/flr1.jpg"><%=image_tag "jumeriah/flr1.jpg" , class: "d-block w-100 img-fluid", alt: "..." %></a>
                        </div>
                        <div class="carousel-item">
                            <a class="spotlight"
                                href="images/flr2.jpg"><%=image_tag "jumeriah/flr2.jpg" , class: "d-block w-100 img-fluid", alt: "..." %></a>
                        </div>
                        <div class="carousel-item">
                            <a class="spotlight"
                                href="images/flr3.jpg"><%=image_tag "jumeriah/flr3.jpg" , class: "d-block w-100 img-fluid", alt: "..." %></a>
                        </div>

                        <div class="carousel-item">
                            <a class="spotlight"
                                href="images/flr4.jpg"><%=image_tag "jumeriah/flr4.jpg" , class: "d-block w-100 img-fluid", alt: "..." %></a>
                        </div>

                        <div class="carousel-item">
                            <a class="spotlight"
                                href="images/flr5.jpg"><%=image_tag "jumeriah/flr5.jpg" , class: "d-block w-100 img-fluid", alt: "..." %></a>
                        </div>

                        <div class="carousel-item">
                            <a class="spotlight"
                                href="images/flr6.jpg"><%=image_tag "jumeriah/flr6.jpg" , class: "d-block w-100 img-fluid", alt: "..." %></a>
                        </div>
                        <div class="carousel-item">
                            <a class="spotlight"
                                href="images/flr7.jpg"><%=image_tag "jumeriah/flr7.jpg" , class: "d-block w-100 img-fluid", alt: "..." %></a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="text-center">
            <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn cstbtn mt-4" type="button">Download Floor Plan</a>
            </div>
        </div>
    </div>
</div>

<div class="theme_spacing">
    <div class="container">
        <div class="about mb-4">
            <h6>Curated Hospitality</h6>
            <p>
                Delivering elevated waterfront living filled with unparalleled lifestyle facilities, Jumeirah Living
                Business
                Bay presents the elegance and luxury services of a five-star accommodation to the privacy and comfort of
                its
                residents.<br><br>

                Residents will enjoy seamless access to a range of deluxe branded facilities and services, uncluding
                concierge
                services,a residents lounge, a guest relations team, anon-site residential manager, security,
                housekeeping,
                and valet services, as well as a teenager lounge with gaming facilities and a co-studying area, ensuring
                millennial residents are also catered for.
            </p>
        </div>

        <div class="row">
            <div class="col-md-4 col-12">
                <%=image_tag "jumeriah/fop1.png" , width: "804" , class: "img-fluid mb-3" , height: "584" , alt: "" %>
            </div>
            <div class="col-md-4 col-12">
                <%=image_tag "jumeriah/fop2.png" , width: "804" , class: "img-fluid mb-3" , height: "584" , alt: "" %>
            </div>
            <div class="col-md-4 col-12">
                <%=image_tag "jumeriah/fop3.png" , width: "804" , class: "img-fluid mb-3" , height: "584" , alt: "" %>
            </div>
        </div>
    </div>
</div>

<div class="ftrbg">
    <div class="container">

    </div>
</div>

<div class="ftrbg">
    <div class="container">
        <%=image_tag "jumeriah/logo.png" , width: "200" , class: "img-fluid" , alt: "" %>
        <p>
            Inspired by its location’s maritime lifestyle and nautical elements, Jumeirah Living Business Bay sits on a
            fine
            line between art and architecture, in constant dialogue with the shimmering light and sparkling waters of
            the
            Dubai Canal.

            Designed to be admired as a prominent highlight of the Downtown Dubai skyline, the 35-story tower features a
            selection of 82 spacious residences, exquisitely designed and fitted with elevated detail, coupled with
            curated
            branded amenities and services.
        </p>
        <p>© 2022 <strong>GCC Realtors</strong></p>
    </div>
</div>



<%=content_for :javascript do %>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>
<%= javascript_pack_tag "slider" %>
<%= javascript_pack_tag 'form', 'data-turbolinks-track': 'reload' %>


<script>
    /* Full example of API usage including "like button" as a custom control */

    //import Spotlight from "./src/js/spotlight.js";

    (function () {

        const gallery = [{

                title: "Lorem ipsum dolor sit amet",
                description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                src: "demo/gallery/london-1758181.jpg",
                button: "Download Image",
                onclick: Spotlight.download,
                like: false
            }, {
                title: "At vero eos et accusam",
                description: "Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                src: "demo/gallery/sea-1975403.jpg",
                button: "Next Slide",
                onclick: Spotlight.next,
                like: false,
            }, {
                title: "Duis autem vel eum iriure dolor",
                description: "In hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.",
                src: "demo/gallery/newport-beach-2089906.jpg",
                button: "Close Gallery",
                onclick: Spotlight.close,
                like: false
            }
            /*,{
                            media: "node",
                            control: "next,prev,close",
                            src: (function(){
                                const iframe = document.createElement("iframe");
                                iframe.src = "https://www.youtube.com/embed/tgbNymZ7vqY";
                                return iframe;
                            }())
                        }*/
        ];

        window.showGallery = function (index) {

            const control = to_array(document.getElementById("control").getElementsByTagName("input"));
            const animation = to_array(document.getElementById("animation").getElementsByTagName("input"));
            const modifier = document.getElementById("modifier").getElementsByTagName("input");

            // store the button element to apply dom changes to it
            let like;
            // store the current index
            let slide = 0;

            function handler() {

                // get the current like state
                // at this point we use the stored last index from the variable "slide"
                const current_like_state = !gallery[slide].like;

                // toggles the current like state
                gallery[slide].like = current_like_state;

                // assign the state as class to visually represent the current like state
                this.classList.toggle("on");

                if (current_like_state) {

                    // do something if liked ...
                } else {

                    // do something if unliked ...
                }
            }

            const options = {

                class: "only-this-gallery",
                index: index,
                control: control,
                animation: animation,
                // fires when gallery opens
                onshow: function (index) {

                    // the method "addControl" returns the new created control element
                    like = Spotlight.addControl("like", handler);
                },
                // fires when gallery change to another page
                onchange: function (index, options) {

                    // store the current index for the button listener
                    // the slide index start from 1 (as "page 1")
                    slide = index - 1;

                    // initially apply the stored like state when slide is openened
                    // at this point we use the stored like element
                    like.classList.toggle("on", gallery[slide].like);
                },
                // fires when gallery is requested to close
                onclose: function (index) {

                    // remove the custom button, so you are able
                    // to open next gallery without this custom control
                    Spotlight.removeControl("like");
                }
            };

            assign(options, modifier);

            Spotlight.show(gallery, options);
        };

        /* helper functions to assign options for the demo page, so skip this part from here */

        function to_array(nodelist) {

            const arr = [];

            for (let i = 0, node; i < nodelist.length; i++) {

                node = nodelist[i];
                node.checked && arr.push(node.value);
            }

            return arr;
        }

        function assign(options, nodelist) {

            for (let i = 0, node; i < nodelist.length; i++) {

                node = nodelist[i];

                if (node.checked) {

                    if (node.name) {

                        options[node.name] = node.value;
                    } else {

                        options[node.value] = node.checked;
                    }
                }
            }
        }

    }());
</script>

<%end%>

<%=content_for :javascript do%>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <%= javascript_pack_tag 'carousal', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'parsley', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'step', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'jqueryanimatecss', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'form', 'data-turbolinks-track': 'reload' %>
  <script>
      /* Demo purposes only */
      var snippet = [].slice.call(document.querySelectorAll('.hover'));
      if (snippet.length) {
          snippet.forEach(function (snippet) {
              snippet.addEventListener('mouseout', function (event) {
                  if (event.target.parentNode.tagName === 'figure') {
                      event.target.parentNode.classList.remove('hover')
                  } else {
                      event.target.parentNode.classList.remove('hover')
                  }
              });
          });
      }
  </script>

  <script>


      var changed = function () {

          Array.from(document.querySelectorAll("table")).forEach((element, index) => {
              Array.from(element.querySelectorAll("input")).forEach((myinp, index) => {

                  if (myinp.checked == true) {
                      myinp.parentNode.parentNode.classList.add("active");
                  } else {
                      myinp.parentNode.parentNode.classList.remove("active");
                  }

              });
          });
      } //changed function ends

      Array.from(document.querySelectorAll("table")).forEach((element, index) => {
          Array.from(element.querySelectorAll("input")).forEach((myinp, index) => {
              var checkmark = document.createElement("span");
              checkmark.classList.add("checkmark");
              myinp.parentNode.appendChild(checkmark);
              myinp.addEventListener("change", changed);
          });
      });
  </script>

<%end%>
