<!DOCTYPE html>
<html>

<head>
  <title>Gccrealtors</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11011927322"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11011927322');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M4NCYJTPWZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M4NCYJTPWZ');
</script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-247065150-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-247065150-1');
</script>
<script>
    function gtag_report_conversion() {
      let url = window.location.href
      var callback = function () {
        if (typeof(url) != 'undefined') {
          document.getElementById("submit_form").submit();
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-11011927322/b5mZCIPHooEYEJra8oIp',
          'event_callback': callback
      });
      return false;
    }
</script>
<%=yield :css%>

</head>

<body>
  <%= yield %>


  <%=yield :javascript%>

    <script>
    window.addEventListener('load', (event) => {
      window.scrollTo(0, 0);
    });
       
    </script>
    <% if !params[:project1].blank? %>
      <script>
        window.location = window.location.origin + '<%="/download_brocher?project=#{params[:project]}&project1=#{params[:project1]}" %>'
      </script>
    <%end%>

<script>
(function(arg) {
    var _pxl = document.createElement("script");
    _pxl.type = "text/javascript";
    _pxl.defer = true;
    _pxl.setAttribute('data-hmtrackerscriptquery', JSON.stringify(arg));
    _pxl.src = "https://leads-inst47-client.phonexa.uk/hitmetrix/analize.js?v=ec9bd379f0c70f5";
    document.getElementsByTagName("head")[0].appendChild(_pxl);
})({"token": "37172f3e93ee47ab35b8fa21bc6e8e5b65201c1e"});
</script>

</body>

</html>